*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", Arial, sans-serif;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#fff 40%, #ddd);
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: auto;

}

.landing-wrapper-before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 222px;
  background-color: #00a884;
}

.landing-header {
  display: flex;
  flex: none;
  align-items: center;
  justify-content: flex-start;
  width: 1000px;
  min-height: 39px;
  margin: 27px auto 28px auto;
}

.landing-window {
  z-index: 2;
  display: flex;
  flex: none;
  flex-direction: column;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 17px 50px 0 rgba(11, 20, 26, .19), 0 12px 15px 0 rgba(11, 20, 26, .24);
}

.landing-main {
  position: relative;
  padding: 64px 60px 60px 60px;
  width: 100%;
  box-sizing: border-box;
}

.xs9mwh0 {
  margin-top: -24px;
}

.xeuugli {
  min-width: 0;
}

.x4n8cb0 {
  margin-bottom: 30px;
}

.x2lwn1j {
  min-height: 0;
}

.xs83m0k {
  flex-shrink: 1;
}

.xozqiw3 {
  flex-wrap: nowrap;
}

.xl56j7k {
  justify-content: center;
}

.xdl72j9 {
  flex-basis: auto;
}

.x78zum5 {
  display: flex;
}

.x6s0dn4 {
  align-items: center;
}

.x1q0g3np {
  flex-direction: row;
}

.xwxc41k {
  padding-bottom: 24px;
}

.xso031l {
  border-bottom-width: 1px;
}

.xsbzixq {
  border-bottom-color: var(--wds-cool-gray-200);
}

.xeuugli {
  min-width: 0;
}

.x2lwn1j {
  min-height: 0;
}

.x1q0q8m5 {
  border-bottom-style: solid;
}

.x1p5oq8j {
  padding-top: 24px;
}

.xy80clv {
  border-left-width: 1px;
}

.xu3j5b3 {
  border-right-style: solid;
}

.xs83m0k {
  flex-shrink: 1;
}

.xozqiw3 {
  flex-wrap: nowrap;
}

.xm81vs4 {
  border-right-width: 1px;
}

.xk1nh2v {
  border-top-color: var(--wds-cool-gray-200);
}

.xhk9q7s {
  border-top-left-radius: 6px;
}

.xdl72j9 {
  flex-basis: auto;
}

.xbxaen2 {
  padding-right: 40px;
}

.x8z2lm9 {
  border-left-color: var(--wds-cool-gray-200);
}

.x78zum5 {
  display: flex;
}

.x6s0dn4 {
  align-items: center;
}

.x26u7qi {
  border-left-style: solid;
}

.x1u72gb5 {
  padding-left: 40px;
}

.x1q0g3np {
  flex-direction: row;
}

.x1otrzb0 {
  border-top-right-radius: 6px;
}

.x1oa3qoh {
  align-self: auto;
}

.x1o6z2jb {
  border-bottom-left-radius: 6px;
}

.x1nhvcw1 {
  justify-content: flex-start;
}

.x1l3ee1n {
  border-right-color: var(--wds-cool-gray-200);
}

.x1i1ezom {
  border-bottom-right-radius: 6px;
}

.x1g77sc7 {
  order: 0;
}

.x1c4vz4f {
  flex-grow: 0;
}

.x178xt8z {
  border-top-width: 1px;
}

.x13fuv20 {
  border-top-style: solid;
}

.xeuugli {
  min-width: 0;
}

.x2lwn1j {
  min-height: 0;
}

.x1k70j0n {
  margin-top: 6px;
}

.xs83m0k {
  flex-shrink: 1;
}

.xozqiw3 {
  flex-wrap: nowrap;
}

.xdl72j9 {
  flex-basis: auto;
}

.x1oa3qoh {
  align-self: auto;
}

.x1g77sc7 {
  order: 0;
}

.x1c4vz4f {
  flex-grow: 0;
}

.xeuugli {
  min-width: 0;
}

.x2lwn1j {
  min-height: 0;
}

.xxbr6pl {
  padding-right: 24px;
}

.xs83m0k {
  flex-shrink: 1;
}

.xozqiw3 {
  flex-wrap: nowrap;
}

.xdt5ytf {
  flex-direction: column;
}

.xdl72j9 {
  flex-basis: auto;
}

.xbbxn1n {
  padding-left: 24px;
}

.x78zum5 {
  display: flex;
}

.x1oa3qoh {
  align-self: auto;
}

.x1nhvcw1 {
  justify-content: flex-start;
}

.x1g77sc7 {
  order: 0;
}

.x1cy8zhl {
  align-items: flex-start;
}

.x1c4vz4f {
  flex-grow: 0;
}

.xjpr12u {
  margin-bottom: 2px;
}

.xw2npq5 {
  color: var(--text-primary);
}

.xdbd6k5 {
  line-height: 1.2941;
}

.x1lkfr7t {
  font-size: 17px;
}

.x1fcty0u {
  font-weight: normal;
}

.xso031l {
  border-bottom-width: 1px;
}

.x889kno {
  padding-top: 10px;
}

.x1q0q8m5 {
  border-bottom-style: solid;
}

.x1a8lsjc {
  padding-bottom: 10px;
}

.x16stqrj {
  border-bottom-color: transparent;
}

.xyesn5m {
  line-height: 1.1429;
}

.xy80clv {
  border-left-width: 1px;
}

.xxbr6pl {
  padding-right: 24px;
}

.xuxw1ft {
  white-space: nowrap;
}

.xu3j5b3 {
  border-right-style: solid;
}

.xogb00i {
  border-right-color: transparent;
}

.xm81vs4 {
  border-right-width: 1px;
}

.xk50ysn {
  font-weight: 500;
}

.xjy5m1g {
  border-top-right-radius: 24px;
}

.xfagghw {
  transition-property: all;
}

.xbtce8p {
  color: var(--button-primary);
}

.xbbxn1n {
  padding-left: 24px;
}

.x9lcvmn {
  transition-timing-function: ease-out;
}

.x9dyr19 {
  transition-duration: .18s;
}

.x4pb5v6 {
  border-bottom-left-radius: 24px;
}

.x26u7qi {
  border-left-style: solid;
}

.x1z11no5 {
  border-top-left-radius: 24px;
}

.x1v8p93f {
  border-top-color: transparent;
}

.x1rg5ohu {
  display: inline-block;
}

.x1n2onr6 {
  position: relative;
}

.x1mnwbp6 {
  border-bottom-right-radius: 24px;
}

.x1hl8ikr {
  outline-offset: 2px;
}

.x1ftr3km {
  border-left-color: transparent;
}


.x178xt8z {
  border-top-width: 1px;
}

.x14v0smp {
  background-color: #008069;
  color: white;
}

.x13fuv20 {
  border-top-style: solid;
}

._aj-8 {
  margin-bottom: 24px;
}

._aj-9 {
  height: 28px;
}

._aj-b {
  padding: 0 0 0 24px;
  margin: 0;
  list-style-type: decimal;
}

._aj-c {
  font-size: 18px;
  line-height: 28px;
  color: #3b4a54;
}

._aj-c+._aj-c {
  margin-top: 18px;
}

._akau {
  position: relative;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 264px;
  overflow: hidden;
  border-radius: 2px;
}

._akass {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255,0.9);
  z-index: 99;
}

._akas {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  box-sizing: initial;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 200px;
  padding: 0 30px;
  margin-top: -100px;
  margin-left: -100px;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  border: none;
  color: #e9edef;
  text-align: center;
  text-transform: uppercase;
  background-color: #60aea1;
  border-radius: 50%
}

._akas:focus::after {
  position: absolute;
  width: 210px;
  height: 210px;
  content: "";
  border-radius: 50%;
  box-shadow: 0 0 0 2px rgba(83, 189, 235, .5)
}

._akat {
  flex: none;
  margin: 5px 0 15px 0;
  color: rgba(var(--inverse), .9)
}

._akau img,
._akau canvas,
._akau ._akaz {
  opacity: 1;
  transition: opacity .5s var(--t-ease);
}

._akau ._akaz {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 64px;
  height: 64px;
  margin-top: -32px;
  margin-left: -32px;
  -webkit-user-select: none;
}

.x16dsc37 {
  vertical-align: top;
}

.landing-title {
  font-size: 28px;
  font-weight: 300;
  line-height: normal;
  color: #41525d;
}

._ak94 {
  padding-bottom: 50px;
}

._ak95._aj-6 {
  border-bottom: 1px solid #e9edef;
}

._ak95 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

._akav {
  color: #008069;
}

._ak96 {
  position: relative;
}

[role=button] {
  cursor: pointer;
}

._amrn {
  position: absolute;
  bottom: 66px;
  left: 60px;
  font-size: 18px;
  line-height: 1;
  color: #e9edef;
}

._ak5k {
  padding: 40px 60px;
  background-color: rgba(11, 20, 26, .025);
}

._ak5m a {
  color: #008069;
}

._ak5l {
  margin: 0 auto 16px;
  text-align: center;
}

._ak5m {
  margin: 0 auto 40px;
  text-align: center;
  font-size: 14px;
}

._ak5o,
._ak5i,
._ak5g {
  width: 560px;
  height: 314px;
}

._ak5o {
  position: relative;
  flex: none;
}

._ak5f {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

._ak5j {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  overflow: hidden;
  color: var(--inverse);
  background-color: rgba(11, 20, 26, .45);
  border-radius: 50%;
}

.landing-wrapper {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 92px;
  cursor: default;
}

.landing-headerTitle {
  display: inline-block;
  margin-left: 14px;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  text-transform: uppercase;
  vertical-align: middle;
}

.xjbqb8w {
  background-color: transparent;
  background: none;
  border: 0;
  outline: none;
}

._ak5n {
  position: relative;
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

#bootstrap-container {
  height: 350px;
}

#bootstrap-container img {
  padding-top: 1.5vh;
}

#main-container {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

#main-container>#main-container-heading {
  position: absolute;
  top: 0%;
  left: 1.5%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

#main-container>#main-container-heading>h1 {
  position: relative;
  top: 1.5vh;
  font-weight: 100;
  font-size: 8vh;
  text-transform: uppercase;
  padding-bottom: -10px;
  margin-right: 3vh;
}

#main-container>#main-container-content {
  position: absolute;
  top: 15%;
  left: 1.5%;
  width: 97%;
  height: 85%;
}

#main-container>#main-container-content>#messages-list-table {
  border-collapse: collapse;
}

#main-container>#main-container-content>#messages-list-table th,
#main-container>#main-container-content>#messages-list-table td {
  vertical-align: middle;
}

#main-container>#main-container-content>#messages-list-table td:not(.no-monospace) {
  font-family: monospace;
}

#main-container>#main-container-content>#messages-list-table th:not(.fill),
#main-container>#main-container-content>#messages-list-table td:not(.fill) {
  width: 1px;
  white-space: nowrap;
  padding: 0px 25px;
  text-align: center;
}

.bootbox.modal {
  line-height: 0.8;
}

.bootbox.modal ul {
  list-style-type: none;
}

.bootbox.modal li {
  line-height: 1.5;
}

.bootbox.modal .jsontree_tree {
  margin-left: 0;
  padding-left: 0;
}

.bootbox.modal .jsontree_child-nodes {
  margin-left: 0;
}

.bootbox.modal .modal-dialog {
  width: 100vw;
}

.bootbox.modal .modal-dialog .modal-content {
  width: 90vw;
  left: 5vw;
}

#console-arrow {
  position: absolute;
  top: 2.5vh;
  right: 0vw;
  transition: right 0.2s;
}

#console-arrow>button {
  font-size: 2.5vh;
}

#console-arrow.extended {
  right: 20vw;
}

#console {
  position: absolute;
  top: 0vh;
  left: 100vw;
  width: 20vw;
  height: 100vh;
  padding: 3vh;
  transition: left 0.2s;
  font-size: 10pt;
  font-family: monospace;
  background-color: rgba(200, 200, 200, 0.5);
}

#console.extended {
  left: 80vw;
}


@media screen and (min-height: 760px) and (min-width: 1095px) {
  .landing-header {
    margin-bottom: 66px;
  }
}